<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.choice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Choice">
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".LogoutActivity"
            android:exported="true"
            android:label="@string/title_activity_logout"
            android:theme="@style/Theme.Choice.NoActionBar" />
        <activity
            android:name=".ForgotPwActivity"
            android:exported="true" />
        <activity
            android:name=".BottomNavigationBar"
            android:exported="true" />

        <service
            android:name=".firebase.FirebaseService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".FeedbackFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MapScreen"
            android:exported="true" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat_screen"
            android:theme="@style/Theme.Choice.NoActionBar" />
        <activity
            android:name=".LogoutFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity android:name=".FriendList" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>